<h2 class="sr-only">Reviews</h2>
<div class="flex items-center">
  <div>
    <%= render 'spree/reviews/stars', stars: stars %>
  </div>
  <p class="ml-2 text-sm text-gray-500"><%= Spree::Review.model_name.human(count: reviews_count) %></p>
</div>
